	<!-- /^([a-zA-Z0-9]+)@ARIKYA.ac.in$/ -->

    <div id="fullpage">
        <div class="row  alignments">
            <div class="col-sm-6" id="desktop" style="height: 90vh;">
                <div style="display: flex;" routerLink="/arikya">
                    <img src="assets/logo.png" style="height: 60px;">
                    <div style="margin-top:0.7rem">
                        <h1 style="font-size: 30px;font-family: 'Saira Stencil One', 'cursive';background: linear-gradient(144deg, rgba(0,176,255,1) 40%, rgba(27,28,30,1) 100%);-webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;">
                            ARIKYA</h1>
                    </div>
                </div>
                <br />
                <div style="padding-left: 10vw;margin-top: 2rem;">
                    <img src="assets/sidelogo.gif" id="side">
                </div>
            </div>
            <div class="col-sm  content">
                <h1 style="font-family: 'Poppins', sans-serif;"> Reset Password </h1>
                <br />
                <div class="form-container sign-in-container">
                    <form #f="ngForm" (ngSubmit)="onsubmit(f)">
                        <div style="display: flex;background-color: #fff;border-radius: 4px;padding: 0rem 0.5rem;border: 0.2px solid rgb(209, 209, 209);">
                            <i style="font-size: 1.2rem;margin-top: 0.5rem;" class="bx bxs-lock"></i>
                            <input style="border: none;outline: none;" type="password" placeholder="NEW PASSWORD"
                                [type]="vepa1 ? 'text' : 'password'" name="password" [(ngModel)]="password" required />
                            <h5 *ngIf="!vepa1" (click)="vepa1=!vepa1"><i style="font-size: 1.3rem;margin-top: 0.5rem;"
                                    class='bx bxs-hide'></i></h5>
                            <h5 *ngIf="vepa1" (click)="vepa1=!vepa1"><i style="font-size: 1.3rem;margin-top: 0.5rem;"
                                    class='bx bxs-show'></i></h5>
                        </div><br />
                        <div
                            style="display: flex;background-color: #fff;border-radius: 4px;padding: 0rem 0.5rem;border: 0.2px solid rgb(209, 209, 209);">
                            <i style="font-size: 1.2rem;margin-top: 0.5rem;" class="bx bxs-lock"></i>
                            <input style="border: none;outline: none;" type="password" placeholder="CONFIRM PASSWORD"
                                [type]="vepa2 ? 'text' : 'password'" name="confirm" [(ngModel)]="confirm"
                                pattern="{{password}}" required /><br />
                            <h5 *ngIf="!vepa2" (click)="vepa2=!vepa2"><i style="font-size: 1.3rem;margin-top: 0.5rem;"
                                    class='bx bxs-hide'></i></h5>
                            <h5 *ngIf="vepa2" (click)="vepa2=!vepa2"><i style="font-size: 1.3rem;margin-top: 0.5rem;"
                                    class='bx bxs-show'></i></h5>
                        </div><br />
                        <button type="submit" style="background-color: #00B0FF;" class="btn btn-primary"
                            [disabled]="!f.valid">SUBMIT</button><br><br>
                    </form>
                </div>
                <span>Remember password ? <strong id="press" style="color: #00B0FF;" routerLink='/login'>Sign In .
                    </strong></span>
                <div class="col-sm-6 " id="mobile">
                    <img src="assets/sidelogo.gif" style="height:200px;margin-left: 2rem;">
                </div>
            </div>