<div class="table-responsive layout">
  
    <div>

        <h5 style="color: #1b1c1e;margin-left: 2rem;"><br><strong>UPLOAD PLACED STUDENTS</strong></h5>
        <br>
        <span *ngIf="!validata ">
            <div style="display: flex;justify-content: center;">
                <strong *ngIf="errorMsg!=''" style="color: #a5081a;text-align: center;">⚠ {{errorMsg}}<br><br></strong>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;">
                <div class="col-sm-7 text-center"
                    style="border-radius:3px;background-color: #fff;;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding: 3rem;">

                    <div (click)="excel.click()" *ngIf="mapping.length==0"
                        style="border: 2px dashed #00B0FF;;border-radius: 7px;padding: 1rem;cursor: pointer;">
                        <i class='bx bxs-cloud-upload bx-tada' style="font-size: 5rem;color: #00B0FF;"></i><br>
                        <input #excel style="display: none;" type="file" accept=".xlsx" multiple="false"
                            (change)="onfilesubmit($event)">
                        <strong style="color:#00B0FF">Browse files </strong>
                    </div>
                    <div *ngIf="mapping.length!=0"
                        style="border: 2px dashed #00B0FF;;border-radius: 7px;padding: 1rem;cursor: pointer;">
                        <i class='bx bxs-file' style="font-size: 5rem;color: #00B0FF;"></i><br>

                        <strong style="color:#00B0FF">Yeah ! file selected </strong>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm"><strong>Excel format</strong><br>
                            <table class="table table-bordered" style="font-size:0.8rem">
                                <tbody>
                                    <tr style="background-color: whitesmoke;">
                                        <td>Roll number</td>
                                        <td>Placement's cycle name</td>
                                        <td>Company</td>
                                        <td>company location</td>
                                        <td>Package</td>
                                    </tr>
                                    <tr style="color: grey;">
                                        <td>college ID</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" id="excel" style="display: none;">
                                <tbody>
                                    <tr style="background-color: whitesmoke;">
                                        <td>Roll number</td>
                                        <td>Placement's cycle name</td>
                                        <td>Company</td>
                                        <td>company location</td>
                                        <td>Package</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col " style="cursor: pointer;" (click)="exportexcel()"><br>
                            <strong style="color: #00B0FF;">Download</strong><br>sample template<br><i
                                class='bx bx-chevrons-down bx-tada' style="font-size: 2rem;color: #00B0FF;"></i>
                        </div>
                    </div>
                    <br><br>
                    <button class="btn" [disabled]="!saveMode"
                        style="background-color: #00B0FF;color: #fff;width: 100%;" (click)="save()">Save</button>
                </div>
            </div>
        </span>


        <div style="display: flex;justify-content: center;max-height: 70vh;">

            <table *ngIf="validata" class="table table-responsive table-bordered text-center "
                style="background-color: #fff;margin: 4rem;margin-top: 0.2rem;box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;">
                <tbody>
                    <tr style="background-color: #1b1c1e;color: whitesmoke;">
                        <td>Roll number</td>
                        <td>Placement cycle name</td>
                        <td>Company</td>
                        <td>Company location</td>
                        <td>Package</td>
                    </tr>
                    <tr *ngFor="let row of mapping">
                        <td>{{row.rollnumber}}</td>
                        <td>
                            {{row.placementcyclename}}
                        </td>

                        <td>{{row.company}}</td>
                        <td>{{row.companylocation}}</td>
                        <td>{{row.package}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div><br><br>

</div>
<span *ngIf="validata"><br>
    <button (click)="savefinal()" style="background-color:  #1b1c1e"
        class="btn btn-secondary">{{savingMode}}</button>&nbsp;
    <button (click)="mapping=[];validata=false" class="btn btn-danger">Close</button></span>

<div *ngIf="display" [ngClass]="{'view':display}">
    <span style="font-size: 1rem;">
        <strong> SUCCESSFULLY SAVED</strong>
        <div class="btn"><i style="color:white;font-size:2rem" class="bx bxs-check-circle"></i></div>
    </span>
</div>