<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container right-panel-active">
	<br><br>
	<strong style="font-size: 1.2rem;color: #1b1c1e;">CHANGE PASSWORD</strong>

	<div class="col-sm-6"
		style="background-color: #fff;margin: 2rem;padding: 4rem;margin-top: 1rem;border-radius: 3px;font-size: 0.8rem;">
		<form #f="ngForm" (ngSubmit)="onsubmit()" [formGroup]="changepassword">
			<strong style="font-size: 0.9rem;color: #1b1c1e;">New password</strong>
			<span
				style="display: flex;align-items: center;justify-content: center;width: 100%;border: 0.5px solid lightgrey;border-radius: 5px;padding: 2px;">
				<input class="form-control shadow-none border-0" [type]='temp? "text" : "password"' type="password"
					placeholder="start typing new password" name="password" formControlName="password" />
				<h5 *ngIf="!temp" (click)="temp=!temp"><i class='bx bxs-hide'></i></h5>
				<h5 *ngIf="temp" (click)="temp=!temp"><i class='bx bxs-show'></i></h5>
			</span>
			<span style="color: #a5081a;size:0.5rem"
				*ngIf="formvalue==true && changepassword.controls['password'].errors ">
				<span *ngIf="changepassword.controls['password'].errors?.required">
					please fill this field
				</span>
				<span *ngIf="changepassword.controls['password'].errors?.pattern">
					It must include atleast one special character, one alphabet and one numeric values
				</span>
				<span
					*ngIf="changepassword.controls['password'].errors?.minlength && !changepassword.controls['password'].errors?.pattern">
					password must be greater than
					{{changepassword.controls['password'].errors?.minlength.requiredLength}} length
				</span>
				<span
					*ngIf="changepassword.controls['password'].errors?.maxlength && !changepassword.controls['password'].errors?.pattern">
					password must not be greater than
					{{changepassword.controls['password'].errors?.maxlength.requiredLength}} length
				</span>
			</span><br>
			<strong style="font-size: 0.9rem;color: #1b1c1e;">Confirm password</strong>
			<span style="display: flex;align-items: center;justify-content: center;width: 100%;border: 0.5px solid
				lightgrey;border-radius: 5px;padding: 2px;">
				<input class="form-control shadow-none border-0" [type]="temp1 ? 'text' : 'password'" type="password"
					placeholder="re-enter the new password" name="confirm" formControlName="confirmpassword" /><br />
				<h5 *ngIf="!temp1" (click)="temp1=!temp1"><i class='bx bxs-hide'></i></h5>
				<h5 *ngIf="temp1" (click)="temp1=!temp1"><i class='bx bxs-show'></i></h5>
			</span>
		
			<span style="color: #a5081a;size:0.5rem"
				*ngIf="formvalue==true && changepassword.controls['confirmpassword'].errors">
				<span *ngIf="changepassword.controls['confirmpassword'].errors?.required">
					please fill this field
				</span>
				<span *ngIf="changepassword.controls['confirmpassword'].errors?.mustMatch ">
					password and Confirm Password should be same
				</span>
			</span><br><br>
			<div style="display: flex;">
				<button class="btn btn-primary" type="submit"
					style="background-color: #00B0FF;">Save</button>&nbsp;&nbsp;
				<button routerLink="/admin/home" class="btn btn-danger" style="background-color:#a5081a">Close</button>
			</div>
		</form>
	</div>
</div>
<div *ngIf="display" [ngClass]="{'view':display}">
	<span style="font-size: 1.3rem;">
		<span style="color: #ffff;">
			<i class="fa fa-warning"></i>
		</span>
		&nbsp;{{popup}}
	
	</span>
</div>
