<div class="row page">

    <div class="col-sm logo"><br />
        <img src="assets/sidelogo.gif" id="side">
    </div>


    <div class="col-sm content">

        <h1>Contact Us </h1>
        feel free to contact us and we will get back to you as soon as we can .

        <br/><span>{{errmsg}}</span><br />
        <form [formGroup]="feedback">
            <input class="form-control shadow-none" formControlName="name" placeholder="Name" />
            <br/>
            <input class="form-control shadow-none" formControlName="mail" placeholder="Email" />
            <br/>

            <textarea formControlName="feed" class="form-control shadow-none" rows="7" cols="50"
                placeholder="start typing feedback ...."></textarea>
        </form>

        <br />
        <button class="btn btn-primary send" (click)="send()" >Send
            feedback</button>
        &nbsp;&nbsp;
        <button class="btn btn-danger close" routerLink="/arikya">Close</button>
        <br /><br /><br /><br />
    </div>

</div>