.content {
    margin-top: 4.5rem;
    margin-left: 2rem;
    padding-left: 14rem;
    padding-top: 22vh;
    padding-right: 5rem;
    background-image: url('../../assets/login.png');
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.page{
    color: #1b1c1e;
    height: 96vh;
    width: 100vw; 
}

h1.content{
    font-family: 'Poppins', sans-serif;
}

span.content{
    color: crimson;
}

form.content{
    width: 30vw;
}

.send.content{
    background-color: #00b0ff;
    width: 10rem;
}

.close.content{
    width: 5rem;
}