<div class="b1" >
    <div class="b2">
        <div class="b3">
            <span routerLink="/arikya" routerLinkActive="active" id="span1">HOME</span>
            <span routerLink="/login" routerLinkActive="active" id="span2">LOGIN</span>
            <span routerLink="/signup" routerLinkActive="active" id="span2">SIGN UP</span>
            <span routerLink="/contact" routerLinkActive="active" id="span2">CONTACT</span>
        </div>
    </div>
    <br /><br />
    <div class="row id1">
        <div class="col content"><br /><br /><br />
            <div class="id2">
                <div><br />
                    <img src="assets/homepage.png home">
                </div>
                <div class="id3" >
                    <h1>ARIKYA</h1>
                </div>
            </div>
            <div class="id4">
                <h2>
                    Where knowledge pays the best interest .
                </h2>
             
                <span>
                    Arikya is a platform that shows different ways to nurture bright future ,

                    enhance skills of the students by making them practice and compete in the quiz and coding tests,

                    authorizes
                    companies to recruit smarter , automate placements heirarchy .

                </span>
            </div>
        </div>
        <div class="col-sm id5"> <br />
            <img src="assets/sidelogo.gif logo" >
        </div>
    </div>
</div>