<div class="layout" *ngIf="eventData[0]==0 else gotres">
    <div style="display: flex;justify-content: center;align-items: center;height: 95vh;">
        <div style="text-align: center;">
            <img src="../../../assets/loading.gif"><br>

        </div>
    </div>
</div>
<ng-template #gotres>
    <div class="table-responsive layout" *ngIf="eventData.length!==0 else add">
        <ejs-schedule [eventSettings]="eventObject" [selectedDate]="setDate" [currentView]="setView"></ejs-schedule>
    </div>
    <ng-template #add><br><br>

        <div style="display: flex;justify-content: center;align-items: center;height: 60vh;">
            <div style="text-align: center;">
                <img src="assets/search.gif" style="max-height:300px"><br>
                <h5><strong>We could not find any events .</strong></h5>
            </div>
        </div>
    </ng-template>
</ng-template>
