
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':imagemodal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: flex;justify-content: center;align-items: center;">
                <h4 class="modal-title">
                    <img class="imag1" [src]="tempimg" (click)="img.click()" style="cursor: pointer;" />
                    <input style="display: none;" accept="image/png, image/jpeg" (change)="handleFileSelect($event)"
                        type="file" #img>
                </h4>
                <div style="position: absolute;top: 5%;right: 5%;font-size: 1.5rem;cursor: pointer;" (click)="remove()">
                    <i class="fa fa-trash"></i>
                </div>
            </div>
            <div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="imagemodal='none';">cancel</button>
                    <button type="button" class="btn btn-primary" (click)="saveimage()">{{saveimg}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="nodata else nodat">
    <div *ngIf="!edit" class="layout">
        <div>
            <span>
                <strong style="color: #4b4e54;cursor: pointer;" [routerLink]="['/admin/student/search']"> SEARCH
                </strong>
                <span style="font-size: 0.8rem;">> STUDENT</span>
            </span>
            <div
                style="padding: 0.7rem;padding-left: 1rem;font-size: 0.8rem; background-color: #fff;border-radius: 7px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                <div class="row">
                    <div class="col-sm-1" style="display:flex ;">
                        <div class="imageup">
                            <img class="imag" [src]="image" (click)="imagemodal='block';tempimg=image"
                                style="cursor: pointer;" />
                        </div><br>
                    </div>
                    <div class="col-sm-3">
                        <strong style="font-size: 1.2rem;color: #1b1c1e;">{{data.firstname| uppercase
                            }}&nbsp;{{data.middlename |
                            uppercase}}&nbsp;{{data.lastname|
                            uppercase}}</strong><br>
                        <span><strong>{{data.yearofjoining+4}}</strong> Passout batch
                            <strong>| {{data.rollnumber}}</strong></span><br>
                        <span><strong>{{data.currentyear}} </strong>YEAR <strong>, {{data.course |
                                uppercase}}</strong></span>
                        <br>
                        <span>DEPARTMENT OF <strong>{{data.department | uppercase}}</strong></span>
                    </div>
                    <div class="col-sm-2">
                        <span style="font-size: 2.5rem;">{{data.cgpa}}</span>
                        <span style="font-size: 2.5rem;" *ngIf="data.cgpa==''">0</span><br>
                        <span>CGPA</span>
                    </div>
                    <div class="col-sm-2">
                        <span style="font-size: 2.5rem;" *ngIf="data.cgpa!=''">{{offers}}</span>
                        <span style="font-size: 2.5rem;" *ngIf="data.cgpa==''">0</span><br>
                        <span>OFFERS</span>
                    </div>
                    <div class="col-sm-2">
                        <span style="font-size: 2.5rem;" *ngIf="data.cgpa!=''">{{applications}}</span>
                        <span style="font-size: 2.5rem;" *ngIf="data.cgpa==''">0</span><br>
                        <span>APPLICATIONS</span>
                    </div>
                    <div style="background-color: #d0efd0;border-radius: 60%;" *ngIf="data.verified=='yes'"
                        class="col-sm-1">
                        <br /><br />
                        <strong style="color: green;">
                            <h6><strong>&nbsp;&nbsp;VERIFIED</strong></h6>
                        </strong>
                    </div>
                    <div class="col-sm-1" style="background-color: #b7e4eb;border-radius: 60%;"
                        *ngIf="data.verified==''">
                        <br />
                        <strong style="color:#00B0FF ;">
                            <h6><strong>&nbsp;&nbsp;NOT YET VERIFIED</strong></h6>
                        </strong>
                    </div>
                    <div class="col-sm-1" style="background-color: #efc2ca;border-radius: 60%;"
                        *ngIf="data.verified=='no'"><br /><br />
                        <strong style="color: #a5081a;">
                            <h6><strong>&nbsp;&nbsp;RESUBMISSION</strong></h6>
                        </strong>
                    </div>
                    <div class="col-sm-1" *ngIf="role=='admin'"><br />
                        <div>
                            <div class="row" style="font-size: 1.5rem;float: right;color: #00B0FF;cursor: pointer;">
                                <i class='bx bxs-pencil' (click)="edit=!edit;fillform()"></i>
                            </div><br><br>
                            <div class="row" style="font-size: 1rem;cursor: pointer;position: fixed;right: 2%;">
                                <div ngbDropdown class="d-inline-block">
                                    <button style="color: #00B0FF" class="btn shadow-none" id="dropdownBasic1"
                                        ngbDropdownToggle (click)="allenvelop()"><i class='bx bx-bell'></i>
                                    </button>
                                    <div class="table-responsive" ngbDropdownMenu aria-labelledby="dropdownBasic1"
                                        style="width: 25vw;max-height: 60vh;right: 0.005vw;background-color: #f4f7fb;border: none;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">

                                        <h5 style="position: fixed;top:5%;right:3%;cursor: pointer;"
                                            (click)="allenvelop()"><i
                                                class='bx bx-refresh bx-tada bx-flip-horizontal'></i></h5><br />
                                        <span *ngIf="allLength!=0 else nostu">
                                            <span *ngFor="let c of all" style="align-items: left;font-size: 0.8rem;">
                                                <div
                                                    style="color: grey;font-size:0.8rem;font-weight: 500;margin: 12px 16px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding: 0.5rem;border-radius: 7px;background-color: #fff;">
                                                    <br /> {{c.fullname}} <strong>{{c.rollnumber}}</strong> changed
                                                    <strong>{{c.field}}</strong> from <strong>{{c.prev}}</strong> to
                                                    <strong>{{c.current}}</strong>
                                                    on {{ c.date
                                                    |
                                                    date:'medium'}} <br>
                                                    <span>
                                                        <span *ngIf="c.verified=='notyet'"><br /></span>
                                                        <button class="btn btn-primary shadow-none"
                                                            *ngIf="c.verified=='notyet'"
                                                            style="font-size: 0.8rem;padding:0.4rem"
                                                            (click)="accept1(c,'accepted')">Accept</button>&nbsp;&nbsp;
                                                        <button class="btn btn-danger" *ngIf="c.verified=='notyet'"
                                                            style="font-size: 0.8rem;padding:0.4rem"
                                                            (click)="accept1(c,'rejected')">Reject</button>

                                                        <button class="btn btn-primary shadow-none"
                                                            style="font-size: 0.8rem;padding:0.4rem;width: 100%;"
                                                            *ngIf="c.verified=='accepted'">Accepted by
                                                            {{c.verifiedby}}</button>
                                                        <button class="btn btn-danger"
                                                            style="font-size: 0.8rem;padding:0.4rem;margin-bottom: 1rem;width:'100%'"
                                                            *ngIf="c.verified=='rejected'">Rejected by
                                                            {{c.verifiedby}}</button>

                                                    </span><br /><br />
                                                </div>
                                            </span>
                                        </span>
                                        <ng-template #nostu
                                            style="color: grey;font-size:14px;font-weight: 500;margin-right: 1vw;">
                                            <div style="padding: 2rem;">
                                                <span style="color: #1b1c1e;">No modifications in student's profiles yet
                                                    !</span>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive"
                style="max-height: 77vh;margin-top: 0.5rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: white">
                <div class="content" style="margin: 0rem 1.8rem;font-size: 0.8rem;margin-right: 1rem;">
                    <br />
                    <div class="row">
                        <strong style="padding: 0.5rem;margin-right: 0.7rem;color: #1b1c1e;font-size: 0.9rem;"
                            class="col-sm ">PERSONAL
                            DETAILS</strong>
                    </div>
                    <div class="row" style="font-size: 0.8rem;">
                        <div class="col-sm"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.5rem;margin-right: 0.7rem;">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Roll number</td>
                                        <td>{{data.rollnumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mail</td>
                                        <td>{{data.mail}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{data.firstname }}&nbsp;{{data.middlename |
                                            uppercase}}&nbsp;{{data.lastname|
                                            uppercase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Of Birth</td>
                                        <td>{{data.dob | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{data.gender }}</td>
                                    </tr>
                                    <!-- {{data.data | json}} -->
                                    <tr>
                                        <td>AADHAR Number</td>
                                        <td>{{data.aadharno }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pan Card Number</td>
                                        <td>{{data.panno }}</td>
                                    </tr>
                                    <tr>
                                        <td>Religion</td>
                                        <td>{{data.religion }}</td>
                                    </tr>
                                    <tr>
                                        <td>Caste</td>
                                        <td>{{data.caste }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.5rem;">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Contact</td>
                                        <td>{{data.mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td>Alternative mail</td>
                                        <td>{{data.altmail }}</td>
                                    </tr>
                                    <tr>
                                        <td>EAMCET RANK</td>
                                        <td>{{data.rank }}</td>
                                    </tr>

                                    <tr>
                                        <td>Current address</td>
                                        <td>{{data.currentaddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Permanent address</td>
                                        <td>{{data.permanentaddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Father's Name</td>
                                        <td>{{data.fathername }}</td>
                                    </tr>
                                    <tr>
                                        <td>Mother's Name</td>
                                        <td>{{data.mothername }}</td>
                                    </tr>


                                    <tr>
                                        <td>Admission quota</td>
                                        <td>{{data.admissionquota }}</td>
                                    </tr>
                                    <tr>
                                        <td>Having Laptop</td>
                                        <td>{{data.havinglaptop }}</td>
                                    </tr>
                                    <tr>
                                        <td>IMPORTANT ACTIONS</td>
                                        <td><button *ngIf="data.freeze=='no'" (click)="freeze()"
                                                style="background-color:#a5081a;color: white;outline: none;border:none">Freeze
                                                student</button>
                                            <button *ngIf="data.freeze=='yes'" (click)="unfreeze()"
                                                style="background-color:#00b0ff;color: white;outline: none;border:none">Unfreeze
                                                student</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <strong style="padding: 0.5rem;margin-right: 0.7rem;color: #1b1c1e;font-size: 0.9rem;"
                                    class="col-sm ">ACADEMIC DETAILS</strong>
                            </div>
                            <div class="row">
                                <div class="col-sm"
                                    style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.7rem;margin-right: 0.7rem;">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Course</td>
                                                <td>{{data.course | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>Department</td>
                                                <td>{{data.department | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>Batch</td>
                                                <td>{{data.yearofjoining+4}}</td>
                                            </tr>
                                            <tr>
                                                <td>Ongoing backlogs</td>
                                                <td *ngIf="data.ongoingbacklogs">{{data.ongoingbacklogs}}</td>
                                                <td *ngIf="!data.ongoingbacklogs">0</td>
                                            </tr>
                                            <tr>
                                                <td>Total backlogs</td>
                                                <td *ngIf="data.totalbacklogs">{{data.totalbacklogs}}</td>
                                                <td *ngIf="!data.totalbacklogs">0</td>
                                            </tr>
                                            <tr>
                                                <td>Education gap</td>
                                                <td>{{data.educationgap}}</td>
                                            </tr>

                                        </tbody>

                                    </table>


                                </div>
                                <div class="col-sm"
                                    style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 0.7rem;">

                                    <table class="table table-bordered text-center" id="tb">
                                        <tbody>
                                            <tr>
                                                <td>Standard</td>
                                                <td>Board</td>
                                                <td>Institute</td>
                                                <td>Passing out year</td>
                                                <td>Scored marks</td>
                                            </tr>
                                            <tr>
                                                <td>X</td>
                                                <td>{{data.tenthboard}}</td>
                                                <td>{{data.tenthschoolname }}</td>
                                                <td>{{data.tenyear}}</td>
                                                <td>{{data.tenthcgpa}}/10</td>
                                            </tr>
                                            <tr>
                                                <td>XII</td>
                                                <td>{{data.interboard}}</td>
                                                <td>{{data.interclgname }}</td>
                                                <td>{{data.interyear}}</td>
                                                <td>{{data.intercgpa}}/10</td>
                                            </tr>
                                        </tbody>
                                    </table>



                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="font-size: 0.8rem;" *ngIf="sgpa.length>0">
                        <strong style="padding: 0.9rem;margin-right: 0.7rem;color: #1b1c1e;">SEMESTER
                            GRADES</strong><br>
                        <div class="col-sm"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">



                            <div echarts [options]="option"></div>
                        </div>
                        <div class="col-sm" *ngIf="sgpa.length>0"
                            style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">

                            <table class="table text-center" id="tb" *ngIf="sgpa.length>0">

                                <tbody>
                                    <tr
                                        style="background-color: whitesmoke;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;color: #4b4e54;">
                                        <td>COURSE</td>
                                        <td>SEMESTER</td>
                                        <td>GRADE POINTS</td>
                                    </tr>

                                    <tr *ngFor="let c of sgpa;index as i ">
                                        <td>{{data.course | uppercase}}</td>
                                        <td>{{i+1}}</td>
                                        <td>{{c }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <br>

                    <div *ngIf="stdrates">
                        <div class="row">
                            <strong style="padding: 0.5rem;margin-right: 0.7rem;color: #1b1c1e;font-size: 0.9rem;"
                                class="col-sm ">
                                <span style="font-size:1rem;">SKILL TEST </span> &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color: #4b4e54;">
                                    <span *ngIf="stdallratedata.main"> {{stdallratedata.main}}
                                    </span>
                                    <span *ngIf="!stdallratedata.main"> 0 </span>%</span>
                                &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color: #00B0FF;">
                                    <span *ngIf="stdallratedata.rank">{{stdallratedata.rank}}</span>
                                    <span *ngIf="!stdallratedata.rank">0</span> RANK
                                </span>
                            </strong>
                        </div>
                        <div class="row">
                            <div class="col-sm"
                                style="border-radius:2px;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;margin-bottom: 0.3rem;padding: 0.7rem;margin-right: 0.3rem;">
                                <table class="table text-center">
                                    <tbody>
                                       
                                        <tr>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    CODE TEST
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallcodedata.main">{{stdallcodedata.main}}%</span>
                                                    <span *ngIf="!stdallcodedata.main">0%</span>
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallcodedata.rank">{{stdallcodedata.rank}}
                                                        RANK</span>
                                                    <span *ngIf="!stdallcodedata.rank">0 RANK</span>
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let a of stdeachcoderate">
                                            <td>{{a.topic}}</td>
                                            <td>{{a.main}}%</td>
                                            <td>{{a.rank}} Rank</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm"
                                style="border-radius:2px;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;margin-bottom: 0.3rem;padding: 0.7rem;">

                                <table class="table text-center" id="tb">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    QUIZ TEST
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallquizdata.main">{{stdallquizdata.main}}%</span>
                                                    <span *ngIf="!stdallquizdata.main">0%</span>
                                                </strong>
                                            </td>
                                            <td>
                                                <strong style="padding: 0.5rem;color: #1b1c1e;font-size: 0.9rem;"
                                                    class="col-sm ">
                                                    <span *ngIf="stdallquizdata.rank">{{stdallquizdata.rank}}
                                                        RANK</span>
                                                    <span *ngIf="!stdallquizdata.rank">0 RANK</span>
                                                </strong>
                                            </td>
                                        </tr>

                                        <tr *ngFor="let a of stdeachquizrate">
                                            <td>{{a.topic}}</td>
                                            <td>{{a.main}}%</td>
                                            <td>{{a.rank}} Rank</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <br>
                    </div>


                </div>
                <br />

                <div *ngIf="codetopics.length>0"
                    style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">



                    <div echarts [options]="codeoption"></div>
                </div><br />
                <div *ngIf="quiztopics.length>0"
                    style="border-radius:2px;background-color: #fff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-bottom: 0.3rem;padding: 1rem;margin-right: 0.7rem;">


                    <div echarts [options]="quizoption"></div>
                </div>


                <br />
                <div class="row">
                    <span *ngIf="notdat==0 else pen" style="color: #4b4e54;font-weight: 900;font-size: 1rem;">
                    </span>
                    <ng-template #pen>
                        <span *ngFor="let c of data.notifications"
                            style="padding: 1vw;justify-content: left;align-items: left;">
                            {{c.rollnumber}} {{c.mail}} changed
                            <strong>{{c.field}}</strong> from <strong>{{c.prev}}</strong> to
                            <strong>{{c.current}}</strong> on {{c.date }}<br><br>
                            <button class="btn btn-primary" style="background-color: #00B0FF;"
                                *ngIf="c.verified=='notyet'" (click)="accept(c,'accepted')">ACCEPT</button>&nbsp;&nbsp;
                            <button class="btn btn-danger" *ngIf="c.verified=='notyet'"
                                (click)="accept(c,'rejected')">REJECT</button>
                            <br><br>

                        </span>
                    </ng-template>


                </div><br>
                <strong style="font-size: 1rem;color: #1b1c1e;padding: 0.5rem;">DOCUMENTS</strong><br>
                <div class="layout table-responsive row" style="background-color: white;"><br>

                    <div><br />
                        <div *ngIf="getdata && data.resume!=''  else noresume"
                            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: #fff;padding:2%; width:50vw;cursor: pointer;"
                            (click)="downloadofferPdf(data.resume,'resume')">
                            <div class="row">
                                <div class="col-10">
                                    <a href=`${data.resumelink}`></a>
                                    <strong style="color: #00b0ff;">{{data.firstname | uppercase}} RESUME
                                    </strong><br>
                                    <span style="color: grey;font-size: 10px;">Click here to download PDF</span>
                                </div>
                                <div class="col" style="color: #00b0ff;">
                                    <h1><i style="font-size:3rem;"
                                            class='bx bxs-down-arrow-alt bx-tada bx-rotate-90'></i></h1>
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div *ngIf="getdata && data.pan!=''  else nopan"
                            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: #fff;padding:2%; width:50vw;cursor: pointer;"
                            (click)="downloadofferPdf(data.pan,'pan')">
                            <div class="row">
                                <div class="col-10">
                                    <strong style="color: #00b0ff;">{{data.firstname | uppercase}} PAN
                                    </strong><br>
                                    <span style="color: grey;font-size: 10px;">Click here to download
                                        PDF</span>
                                </div>
                                <div class="col" style="color: #00b0ff;">
                                    <h1><i style="font-size:3rem;"
                                            class='bx bxs-down-arrow-alt bx-tada bx-rotate-90'></i></h1>
                                </div>
                            </div>

                        </div><br><br>

                        <div *ngIf="getdata && data.aadhar!=''  else noaadhar"
                            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: #fff;padding:2%; width:50vw;cursor: pointer;"
                            (click)="downloadofferPdf(data.aadhar,'aadhar')">
                            <div class="row">
                                <div class="col-10">
                                    <strong style="color: #00b0ff;">{{data.firstname | uppercase}} Aadhar card
                                    </strong><br>
                                    <span style="color: grey;font-size: 10px;">Click here to download
                                        PDF</span>
                                </div>
                                <div class="col" style="color: #00b0ff;">
                                    <h1><i style="font-size:3rem;"
                                            class='bx bxs-down-arrow-alt bx-tada bx-rotate-90'></i></h1>
                                </div>
                            </div>

                        </div><br><br>

                        <div *ngIf="getdata && data.tenthmarksheet!=''  else notenthmarksheet"
                            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: #fff;padding:2%; width:50vw;cursor: pointer;"
                            (click)="downloadofferPdf(data.tenthmarksheet,'tenthmarksheet')">
                            <div class="row">
                                <div class="col-10">
                                    <strong style="color: #00b0ff;">{{data.firstname | uppercase}} Tenth marksheet
                                    </strong><br>
                                    <span style="color: grey;font-size: 10px;">Click here to download
                                        PDF</span>
                                </div>
                                <div class="col" style="color: #00b0ff;">
                                    <h1><i style="font-size:3rem;"
                                            class='bx bxs-down-arrow-alt bx-tada bx-rotate-90'></i></h1>
                                </div>
                            </div>

                        </div><br><br>

                        <div *ngIf="getdata && data.intermarksheet!=''  else nointermarksheet"
                            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: #fff;padding:2%; width:50vw;cursor: pointer;"
                            (click)="downloadofferPdf(data.intermarksheet,'intermarksheet')">
                            <div class="row">
                                <div class="col-10">
                                    <strong style="color: #00b0ff;">{{data.firstname | uppercase}} Inter marksheet
                                    </strong><br>
                                    <span style="color: grey;font-size: 10px;">Click here to download
                                        PDF</span>
                                </div>
                                <div class="col" style="color: #00b0ff;">
                                    <h1><i style="font-size:3rem;"
                                            class='bx bxs-down-arrow-alt bx-tada bx-rotate-90'></i></h1>
                                </div>
                            </div>

                        </div><br><br>
                        <div *ngIf="getdata && data.graduationmarksheet!=''  else nograduationmarksheet"
                            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border-radius: 7px;background-color: #fff;padding:2%; width:50vw;cursor: pointer;"
                            (click)="downloadofferPdf(data.graduationmarksheet,'graduationmarksheet')">
                            <div class="row">
                                <div class="col-10">
                                    <strong style="color: #00b0ff;">{{data.firstname | uppercase}}
                                        Graduation marksheet
                                    </strong><br>
                                    <span style="color: grey;font-size: 10px;">Click here to download
                                        PDF</span>
                                </div>
                                <div class="col" style="color: #00b0ff;">
                                    <h1><i style="font-size:3rem;"
                                            class='bx bxs-down-arrow-alt bx-tada bx-rotate-90'></i></h1>
                                </div>
                            </div>

                        </div><br><br>
                    </div>
                    <ng-template #noresume>
                        <span style="color: #a5081a;font-weight: 900;"> RESUME IS NOT UPLOADED YET !
                        </span>
                    </ng-template>
                    <ng-template #nopan>
                        <span style="color: #a5081a;font-weight: 900;"> PAN IS NOT UPLOADED YET !
                        </span>
                    </ng-template>
                    <ng-template #noaadhar>
                        <span style="color: #a5081a;font-weight: 900;"> AADHAR IS NOT UPLOADED YET !
                        </span>
                    </ng-template>
                    <ng-template #notenthmarksheet>
                        <span style="color: #a5081a;font-weight: 900;"> TENTH MARK SHEET IS NOT UPLOADED YET !
                        </span>
                    </ng-template>
                    <ng-template #nointermarksheet>
                        <span style="color: #a5081a;font-weight: 900;"> INTER MARK SHEET IS NOT UPLOADED YET !
                        </span>
                    </ng-template>
                    <ng-template #nograduationmarksheet>
                        <span style="color: #a5081a;font-weight: 900;"> GRADUATION MARK SHEET IS NOT UPLOADED YET !
                        </span>
                    </ng-template>
                    <br><br><br>
                </div>
                <div class="row" style="width: 50vw;margin-left: 1.8vw;" *ngIf="getdata">
                    <div *ngIf="data.verified==''">
                        <button class="btn" style="background-color: #00b0ff;color: white;" (click)='verify()'>MARK
                            AS
                            VERIFIED</button>
                        &nbsp;<button class="btn" style="background-color: #a5081a;color: white;"
                            (click)="resubmit()">ASK
                            RESUBMISSION</button>
                    </div>
                    <button class="btn" *ngIf="data.verified=='yes'"
                        style="background-color: #00b0ff;color: white;width: 20vw;">MARKED
                        AS VERIFIED</button>
                    <button class="btn" *ngIf="data.verified=='no'"
                        style="background-color: #a5081a;color: white;width: 20vw;">ASKED
                        RESUBMISSION</button>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div *ngIf="edit" style="height: 97vh;padding: 0.7rem;padding-left: 1rem;" class="table-responsive ">
        <div *ngIf="overdata1!=[]">
            <br><br>
            <h5 style="color: #1b1c1e;"><strong>EDIT PROFILE .</strong></h5><br />
            <form [formGroup]="studentForm" (ngSubmit)="save()">
                <div *ngFor="let k of studentform">
                    <span *ngIf="k.tags=='input'">
                        <strong>{{k.label}}</strong><br>
                        <input class="form-control shadow-none"
                            [ngClass]="studentForm.controls[k.formname].status=='INVALID' && studentformvalue==true ? 'form-control shadow-none invalidstyle' : 'form-control shadow-none'"
                            id="{{k.formname}}" formControlName="{{k.formname}}" placeholder={{k.placeholder}}
                            type={{k.type}} />
                    </span>
                    <span *ngIf="k.tags=='select'">
                        <strong>{{k.label}}</strong><br>
                        <select class="form-select"
                            [ngClass]="studentForm.controls[k.formname].status=='INVALID' && studentformvalue==true ? 'form-select invalidstyle' : 'form-select'"
                            id="{{k.formname}}" formControlName="{{k.formname}}">
                            <option value="" selected disabled>please select</option>
                            <option value="{{i.value}}" *ngFor="let i of k.options">{{i.label}}</option>
                        </select>
                        <span style="color: #a5081a;"
                            *ngIf="studentForm.controls[k.formname].status=='INVALID' && studentformvalue==true">
                            *please fill this field
                        </span><br>
                    </span>
                    <span class="row" *ngIf="k.tags=='combine'">
                        <span class="{{k.cname}}" *ngFor="let c of k.fields">
                            <span *ngIf="c.tags=='input' ">
                                <strong>{{c.label}}</strong><br>
                                <input class="form-control shadow-none"
                                    [ngClass]="studentForm.controls[c.formname].status=='INVALID' && studentformvalue==true ? 'form-control shadow-none invalidstyle' : 'form-control shadow-none'"
                                    id="{{c.formname}}" formControlName="{{c.formname}}" placeholder={{c.placeholder}}
                                    type={{c.type}} />

                                <span style="color: #a5081a;"
                                    *ngIf="studentForm.controls[c.formname].errors && studentformvalue==true">
                                    <span *ngIf="studentForm.controls[c.formname].errors?.required">
                                        *please fill this field
                                    </span>
                                    <span *ngIf="studentForm.controls[c.formname].errors?.pattern">
                                        *{{c.patternerror}}
                                    </span>
                                    <span *ngIf="studentForm.controls[c.formname].errors?.mustMatch">
                                        *{{c.patternerror}}
                                    </span>
                                </span><br>
                            </span>
                            <span *ngIf="c.tags=='select'">
                                <strong>{{c.label}}</strong><br>
                                <select class="form-select"
                                    [ngClass]="studentForm.controls[c.formname].status=='INVALID' && studentformvalue==true ? 'form-select invalidstyle' : 'form-select'"
                                    id="{{c.formname}}" formControlName="{{c.formname}}">
                                    <option value="" selected disabled>please select</option>
                                    <option value="{{i.value}}" *ngFor="let i of c.options">{{i.label}}</option>
                                </select>
                                <span style="color: #a5081a;"
                                    *ngIf="studentForm.controls[c.formname].status=='INVALID' && studentformvalue==true">
                                    *Please select this field
                                </span><br>
                            </span>
                        </span><br>
                    </span>
                    <span *ngIf="k.type=='display'">
                        <br> <strong style="font-size: 1rem;">{{k.label}}<br></strong><br>
                    </span>
                </div>
                <br> <button class="btn btn-primary" style="background-color: #00B0FF;" (click)="save()"
                    type="submit">Save</button>&nbsp;&nbsp;
                <button class="btn btn-danger" type="button" (click)="close()">Close</button>
            </form>
        </div>
    </div>
</div>


<div *ngIf="display" [ngClass]="{'view':display}">
    <span style="font-size: 1.3rem;color: #ffff;" *ngIf="studentForm.status!='VALID' else check">
        <i class="fa fa-warning"></i>
    </span>
    <span style="font-size: 1rem;font-weight: bold;">
        &nbsp;{{popup}}
        <ng-template #check>
            <div class="btn"><i style="color:white;font-size:2rem" class="bx bxs-check-circle"></i></div>
        </ng-template>
    </span>
</div>


<ng-template #nodat>
    <div style="display: flex;justify-content: center;align-items: center;height:90vh">
        <div style="text-align: center;">
            <img src="../../../assets/loading.gif"><br>
            <h5><strong>Time to relax !!! Student details are on the way .</strong></h5>
        </div>
    </div>
</ng-template>